schedule==1.1.0
mysqlclient==2.1.0
email-validator==2.1.1
python-dotenv==1.0.1
python-multipart==0.0.9
orjson==3.10.3
numpy>=1.23.2
requests==2.27.1
cryptography==38.0.1
pymongo==4.3.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
Phonenumbers==8.13.11
fastapi[all]==0.111.0
timeout-decorator==0.5.0
Pillow==9.5.0
pandas==2.0.2
python-whois==0.8.0
openpyxl==3.0.6
fastapi-mail==1.4.1
attrs==23.2.0
pydantic==2.7.1
pydantic-settings==2.2.1
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith